<div id="feature">
	<div class="real-content ">
		<div class="row">
			<div class="tag col-xs-2 col-xs-offset-1 col-sm-3">
				<div class="tag-our">OUR</div>
				<div class="tag-label">feature</div>
			</div>
			<div class="content col-xs-8 col-xs-offset-1 col-sm-5">
				Our team consisting a group of people who are passionately 
				put their attention to understand your need and willingly 
				to give the best solution to solve your problems and beautifully 
				meet your communication needs. We have vast array of expertise 
				on the industry, and we are here to help you with the 
				freshest ideas to bring the solution out to the table.
			</div>
		</div>
		
	</div>
	
</div>