@font-face {
    font-family: vlinderFont;
    src: url("../fonts/Ace.ttf");
}

body{
	font-family:vlinderFont;
}

#copyright{
	color:gray;
	font-size:10;
}

#home{
	height:100vh;
	background:url("../img/backgroundB.jpg") no-repeat center center fixed;
	background-size:cover;
}

#spirit{
	height:100vh;
	background:url("../img/backgroundC.jpg") no-repeat center center fixed;
	background-size:cover;
}
#clients{
	height:100vh;
	background:url("../img/backgroundC.jpg") no-repeat center center fixed;
	background-size:cover;
}
#feature{
	height:100vh;
	background:url("../img/backgroundC.jpg") no-repeat center center fixed;
	background-size:cover;
}
#provisions{
	height:100vh;
	background:url("../img/backgroundC.jpg") no-repeat center center fixed;
	background-size:cover;
}
#gallery{
	height:100vh;
	background:url("../img/backgroundC.jpg") no-repeat center center fixed;
	background-size:cover;
}
#contact{
	height:100vh;
	background:url("../img/backgroundC.jpg") no-repeat center center fixed;
	background-size:cover;
}

#client-left{
	float:left;
	width:50%;
}

.content{
	font-family:vlinderFont;
	color:gray;
	font-size:20px;
}

.real-content{
	padding-top:50px;
}

.tag{
	text-align:right;
}

/*media*/
.tag-our{
	margin-bottom:-25px;
	margin-top:-15px;
	font-size:59px;
	width:100%;
	color:red;
}

.tag-label{
	width:100%;
	font-size:45px;
	color:blue;
}

.bottom{
	display:inline-block;
	position:fixed;
	bottom:0;
	width:100%;
	text-align:center;
	margin-bottom:30px;
}

/*media*/
.higher-bottom-navbar a{
	font-size:18px;
	margin:0px 20px;
	color:blue;
}
.our{
	color:red;
}
.higher-bottom-navbar a:hover{
	text-decoration:none;
}
.lower-bottom-navbar a{
	color:orange;
}
.lower-bottom-navbar a:hover{
	text-decoration:none;
}

@media(max-width: 800px){
	.higher-bottom-navbar a{
		font-size:12px;
		margin:0px 5px;
		color:blue;
	}
	
	.tag-our{
		font-size:30px;
		width:100%;
		color:red;
	}

	.tag-label{
		width:100%;
		font-size:20px;
		margin-top:15px;
		color:blue;
	}
	
	.content{
		font-family:vlinderFont;
		color:gray;
		font-size:12px;
	}
}

